@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

p{
    
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Nunito',sans-serif;
    text-decoration: none;
    
 }

 #inp{
    border: 2px solid #24292e;
     border-radius: 10px;
     padding: 0.2em;
     color: grey;
 }

 @media only screen and (max-width:320px){
    p{font-size: 0.7em;}

 }